@import url('https://fonts.googleapis.com/css2?family=jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding Background Image */
body{
  font-family: "Jost", serif;
  min-height: 100vh;
  background: url(https://shorturl.at/nkayO) no-repeat center center/cover;
}

/* NavBar 
 Make it blury and Navbar Menu items in center */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.018); /* semi-transparent */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  z-index: 1;
}

/* NavBar Container 
 to keep the design neet on larger screens */
.navbar-container{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

/* Nav Bar Logo TastyBites on Nav Bar */
.navbar-logo{
  font-size: 2rem;
  font-weight: 600;
  color: #550527;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  left: 35px;
}

/* NavBar Menu items Visible in One Line */
.navbar-container .navbar-menu{
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: #550527; /* Nav menu items Color*/
  font-size: 1.3rem;
  font-weight: 500; 
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  white-space: nowrap;
}

/* Hover Effect of Menu items*/
.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
  color: rgb(234, 208, 36);
  background: rgb(169, 53, 10);
  border: 2px solid #fff;
}

/* Nav Bar toggle button */
.navbar-toggle{
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: #520e0e;
  transition: all 0.3s ease-in-out;
}

/* Responsive Web page*/
@media (max-width: 880px){
  .navbar {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);;
  }

  /* Active NavBar Menu */
  .navbar-container .navbar-menu.active{
    display: flex; 
  }

  /* NavBar toggle on the top right for small screen */
  .navbar-toggle{
    display: block;
    z-index: 999;
  }

  /* Active NavBar Toggle */
  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 480px){
  .navbar-container {
      padding: 0 1rem;
  }

  .navbar-logo {
    font-size: 1.7rem;
  }

  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}